#reserva{
    margin: 20px auto;
    max-width: 1000px;
  }
#reserva h2{
    color:black;
    text-align:center;
    font-size: 45px;
    padding-top: 30px;
    margin-bottom: 10px;
    margin-top: 0;
  }
#reserva p{
    margin-bottom: 30px;
    color: black;
    text-align: center;
  }
#reserva textarea,.tlfn,.barco-reserva {
    width: 100%;
    border: 2px solid #0f75bc;
    height: 41px;
    background-color: #F8F9FA;
  }
.puerto-embarque,.dia-embarque,.hora-embarque,.puerto-desembarque,.dia-desembarque,.hora-desembarque,.nombre,.email{
    width: 40%;
    border: 2px solid #0f75bc;
    height: 41px;
    background-color: #F8F9FA;
}
.embarque,.nombre{
    display: inline-block;
    float: left;
}
.desembarque,.email{
    display: inline-block;
    float: right;
}
#reserva textarea{
    height: 8em;
    font-family: Arial;
  }
#reserva ::placeholder{
    color: grey;
    font-size: 1.2em;
    padding-left: 5px;
  }