#carrousel-barcos{
  background-image: url(../fotos/fotos-barcos/portada.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 800px;
  margin: 0;
  }
.precios-barcos{
  width: 1000px;
  color: black;
  margin: 20px auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.precio{
  background-color: #F8F9FA;
  color: #0f75bc;
}
.precios-barcos h4{
  margin-bottom: 12px;
}
.celda-info{
  background-color: #0f75bc;
  color: white;
}
.button-precio{
  display: none;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #25aae1;
  border-radius: 6px;
  border: 2px solid white;
}
.button-precio:hover{
  color: #1883ba;
  background-color: #ffffff;
  border: 2px solid #25aae1;
  }
.precio:hover {
  transition: all 0.5s ease;
}
.precio:hover > h3{
  display: none;
}
.precio:hover > .button-precio{
  display: block;
  transition: all 0.8s ease;
}
.desplegable {
  background-color: #eee;
  color: #25aae1;
  cursor: pointer;
  padding: 18px;
  width: 1000px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
  margin: 0 auto;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  }
  
.active, .desplegable:hover {
    background-color: #ccc;
  }
  
.desplegable:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  }
  
.active:after {
  content: "\2212";
  }
  
.panel {
  margin: 0 auto;
  padding: 0 18px;
  background-color: #F8F9FA;
  color: black;
  width: 965px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  }
#iva{
  color:black;
  text-align: right;
  font-size: 10px;
}




