body{
  margin: 0;
  font-family: Arial;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

#menu{
  padding: 0px;
  position: absolute;
  top: 25px;
  right: 10px;
}

#menu li{
  display: inline;
}

#menu li a {
 font-family: Arial;
 font-size: 22px;
 text-decoration: none;
 color: #fff;
 padding: 20px;
 }
#rrss{
  position: absolute;
  top: 2px;
  right: 2px;
  width: 60px;
  height: 40px;
}
#carrousel{
  background-image: url(fotos-index/yate2.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 800px;
  margin: 0;
}
#logo{
  position: absolute;
  top: 5px;
  left: 10px;
}
.div-form{
  background-color: white;
  max-width: 700px;
  margin: -15% auto;
  border-radius: 8px;
  padding: 5px;
}
.button{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #25aae1;
  border-radius: 6px;
  border: 2px solid white;
}
.button:hover{
  color: #1883ba;
  background-color: #ffffff;
  border: 2px solid #25aae1;
}
#tit-form{
  padding: 4px 0;
  color: #4285F4;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
}
#puerto-dia2{
  float:right;
}
#puerto-dia1{
  float: left;
}
input,select{
  display: block;
  background:grey;
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color:black;
  font-family: roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6em;
}
label{
  display: block;
  color: grey;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 20px 20px 5px 20px;
}
#Vigo{
  background-image: url(fotos-index/ria-vigo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 200px;
  width: 320px;
  display: inline-block;
  margin:4px;
}
#Vigo h1{
  visibility: hidden;
}
#Vigo:hover{
  background-image: 
  linear-gradient(
    rgba(41, 48, 43, 0.6),
    rgba(41, 48, 43, 0.6)
  ),
  url(fotos-index/ria-vigo.jpg);
}
#Vigo:hover h1{
  visibility: visible;
}
#Coruna{
  background-image: url(fotos-index/coruna.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 200px;
  width: 320px;
  display: inline-block;
  margin:4px;
}
#Coruna h1{
  visibility: hidden;
}
#Coruna:hover{
  background-image: 
  linear-gradient(
    rgba(41, 48, 43, 0.6),
    rgba(41, 48, 43, 0.6)
  ),
  url(fotos-index/coruna.jpg);
}
#Coruna:hover h1{
  visibility: visible;
}
#Baiona{
  background-image: url(fotos-index/baiona.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 200px;
  width: 320px;
  display: inline-block;
  margin:4px;
}
#Baiona h1{
  visibility: hidden;
}
#Baiona:hover{
  background-image: 
  linear-gradient(
    rgba(41, 48, 43, 0.6),
    rgba(41, 48, 43, 0.6)
  ),
  url(fotos-index/baiona.jpg);
}
#Baiona:hover h1{
  visibility: visible;
}
#Sanxenxo{
  background-image: url(fotos-index/sanxenxo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 200px;
  width: 320px;
  display: inline-block;
  margin:4px;
}
#Sanxenxo h1{
  visibility: hidden;
}
#Sanxenxo:hover{
  background-image: 
  linear-gradient(
    rgba(41, 48, 43, 0.6),
    rgba(41, 48, 43, 0.6)
  ),
  url(fotos-index/sanxenxo.jpg);
}
#Sanxenxo:hover h1{
  visibility: visible;
}
#Ribadeo{
  background-image: url(fotos-index/ribadeo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 200px;
  width: 320px;
  display: inline-block;
  margin:4px;
}
#Ribadeo h1{
  visibility: hidden;
}
#Ribadeo:hover{
  background-image: 
  linear-gradient(
    rgba(41, 48, 43, 0.6),
    rgba(41, 48, 43, 0.6)
  ),
  url(fotos-index/ribadeo.jpg);
}
#Ribadeo:hover h1{
  visibility: visible;
}
#Cambados{
  background-image: url(fotos-index/cambados.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 200px;
  width: 320px;
  display: inline-block;
  margin:4px;
}
#Cambados h1{
  visibility: hidden;
}
#Cambados:hover{
  background-image: 
  linear-gradient(
    rgba(41, 48, 43, 0.6),
    rgba(41, 48, 43, 0.6)
  ),
  url(fotos-index/cambados.jpg);
}
#Cambados:hover h1{
  visibility: visible;
}
#localizaciones{
  margin: 20px auto;
  max-width: 1000px
}
#texto-vigo,#texto-coruna,#texto-baiona,#texto-sanxenxo,#texto-ribadeo,#texto-cambados{
text-align:center;
margin: 80px 0;
}
#stats{
  text-align: center;
  background-image: 
  linear-gradient(
    rgba(15, 117, 188, 0.6),
    rgba(15, 117, 188, 0.6)
  ),
  url(fotos-index/foto-stats.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
#col1,#col2,#col3,#col4{
  display: inline-block;
  text-align: center;
  margin: 60px;
}
#h1-col1,#h1-col2,#h1-col3,#h1-col4{
  font-size: 50px;
}
.activa {
  text-decoration: underline;
  text-decoration-style: double;
}
#centrar-stats{
  margin: 0 auto;
}
#banner-contacto{
   background-color: #0f75bc;
   height: 130px;
}
#contenido-banner-contacto{
  max-width: 1000px;
  margin: 0 auto;
}
#banner-contacto h2{
  text-align: center;
  line-height: 130px;
  display: inline;
  margin-right: 520px;
}